html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img { max-width: 100%;}

/*  Temporary Styles 

 * {
    padding: 0.5rem;
    border: 2px solid rgb(200,200,200);
} 

 html, 
body {
    border: none;
} 

 h1,h2,h3,h4,h5,h6,p, a {
    border: 2px solid rgb(179, 84, 84);
}
*/




/* Re-usable Utiity Classes  */

.tall-30 { min-height: 30vh; }
.tall-40 { min-height: 40vh; }
.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }
.tall-100 { min-height: 100vh; }


.padded    { padding: 5%;    }
.padded-t  { padding-top: 5%;    }
.padded-t1  { padding-top: 1%;    }
.padded-t2  { padding-top: 2%;    }
.padded-t10  { padding-top: 10%;    }
.padded-10    { padding: 10%;    }
.padded-20    { 
    padding-top: 5%;
    padding-bottom: 10%; 
    padding-left: 20%; 
    padding-right: 20%; 
}
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }
.padded-t-0 { padding-top: 0; }
.padded-t10  { padding-top: 10%; }
.padded-t15  { padding-top: 15%; }

.padded-ntb  {
  padding-left: 5%;
  padding-right: 5%;
}
.padded-notb {    padding: 1% 2%;  }

.padded-1,
.grid.padded-1  { padding: 1rem;  }

.padded-2,
.grid.padded-2  { padding: 2rem;  }

.margin-b-0 { margin-bottom: 0; }
.margin     { margin: 5%;       }
.margin-t   { margin-top: 5%;   }
.margin-r   { margin-right: 5%;   }
.margin-b   { margin-bottom: 5%;   }
.margin-b2   { margin-bottom: 2rem;   }
.margin-t2   {  margin-top: 2rem; }
.margin-l   { margin-left: 5%;   }

.margin-r1   { margin-right: 1%;   }
.margin-r2   { margin-right: 2%;   }
.margin-t1   { margin-top: 1rem;   }

.margin-t-m7 {  margin-top: -7rem; }
.bg-light    { background-color: #f2eee9;  }
.bg-featured { background-color: #b88fda;  }
.bg-dark     { background-color: #24282B;  }

.text-white { color: white; } 
.text-black { color: black; } 
.text-featured { color: #f59186;}
.text-purple  {  color: #56297c;}


.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }


a.bg-image {
    display: block;
}



/* General typography & universal styles  */

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-weight: normal;
}
h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #000;
}

h2 {font-size: 2.5rem;}
h3 {font-size: 1.8rem;}

p {
    font-family: 'roboto';
    line-height: 1.5;
    font-size: 1.05rem;
    font-weight: 300;
    color: #000;
    }

ul {margin-left: 1rem;}
li {
    padding-left: 0.5rem;
    font-size: 1rem;
    line-height: 1.4;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
    margin-bottom: 0;
}

.text-sm { font-size: 1.5rem;}
.text-xs { font-size: 1rem;}
.text-lg { font-size: 3.5rem;}
.text-xl { font-size: 4.5rem;}
.text-xxl { font-size: 8rem;}
.text-bold { font-weight: bold;}

.text-footer { font-size: 1.5rem;}

.text-big { 
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.6;
}
.sub-title {
  font-family: Montserrat,serif;
  font-size: 1.4rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.sub-title-lower {
  font-family: Montserrat,serif;
  font-size: .9rem;
  letter-spacing: .15rem;
}

.lower {
  font-family: Montserrat,serif;
  font-size: .9rem;
  letter-spacing: .05rem;
}


a {
    color: inherit;
    text-decoration: none;
}

nav a {
    padding: 0% 2.5%;
}

.relative {
  position: relative;
}

.z-1 {
  z-index: 1;
}

.button {
    color: #56297c;
    font-size: 1.1rem;
    border: 1px solid #fff;
    background-color: #Fff;
    /*border-radius: 0.5rem;*/
    text-decoration: none;
    padding: 1rem 1.5rem;
    display: inline-block;
    transition: all 0.5s;
}

.button-solid {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff5d7;
  background-color: #b88fda; ;
  padding: .6rem 2rem;
  margin-top: 1rem;
  display: inline-block;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 300;
  letter-spacing: .1rem;
}

.button:hover {
    background-color: #56297c;
    color: #fff; 
    border: 1px solid #fff;
    }

.button-b {
    padding: 0.5rem;
    display: inline-block;
    border-bottom: 1px solid black;
}  
 .emphasis-button {
    border: 2px solid;
    margin-left: 0.5rem;
  }     
.border-purple {
    border: 3px solid #b88fda; 
    padding: 0.8rem 0.6rem;
}            

.emphasis { 
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    word-spacing: 0.2rem;
    color: #56297c;
}

.upper { 
    text-transform: uppercase;
    letter-spacing: 0.08rem;
}

.service-type .big-bold {
    color: white;
    position: relative;
    z-index: 3;
    margin-bottom: 0;
    font-weight: 600;
}

/* Icon Grid Section  */
.icons img {
    max-width: 3rem;
    opacity: 0.6;
    margin: 1rem 0;
}

.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 2rem;
    color: rgb(60,60,60);
  }


  .arrow-img {
    object-fit: contain;
    object-position: center;
    width: 100px;
    height: 100px;
    display: inline-block;
  }
  
  svg { 
    max-width: 10%;
    color: #fff;  }
  
  .small-img {  max-width: 25%; }

/*   cards services hover   */
              
.hover-container {
    background-size: cover;
    background-position: 50% 20%;
  }
  
  .hover-overlay {
    position: relative;
    padding-bottom: 100%;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(60, 60, 60, 0.4);
    /* you only need to use relative + absolute if you want to determine the exact aspect ratio of the container */
    transition: all 1s;
  }
  
  .hover-overlay:hover {
    background-color: rgba(60, 60, 60, 0);
    color: white;
  }
  
  .hover-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .hover-inner p {
    margin-bottom: 0;
  }


/* Header & Footer */

header {  
    padding: 1% 3% 0 2%; 
    position: relative;
}

header a {  
    font-weight: 400;
    font-size: 1.5rem;
}

footer {
    padding-bottom: 0.5rem;
    color: rgb(145, 140, 140);
    font-weight: 300;
}

footer p   {    font-size: 0.8rem;}

footer img {   max-width: 25%;  }

header img {   max-width: 20%;  }

header nav {  z-index: 10; }
.z-10 {  z-index: 10; }

header h1 {
  padding: 0 .5rem 0 .5rem;
  color: #000;
  letter-spacing: .2rem;
  line-height: 0.2;
}

header nav a {
  text-decoration: none;
  color: #000;
  font-family: Montserrat,sans-serif;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: .8rem;
  font-weight: 400;
  padding: 0;
}

.inline a, header nav a {
  display: inline-block;
  padding: 1rem;
}

/* Images & Background Images */

.bg-image {
    background-size: cover;
    background-position: center;
    background-color: #F2EEE9;
    background-repeat: no-repeat;
    
}

.bg-print {
  background-image: url('/images/print.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 35%;
  min-height: 80vh;
  margin-top: -30rem;
  right: -50%;
}

.bg-banner {
    background-image: url('/images/Dog-Background-Wallpapers.jpg');
    background-position: 50% 25%;
    margin-top: -10rem;
    min-height: 110vh;
    background-attachment: fixed;
}

.bg-banner2 {
  background-image: url('/images/grooming-banner.jpg');
  background-position: 50% 50%;
  margin-top: -7rem;
  background-attachment: fixed;
}

.bg-services3 {
  background-image: url('/images/Dogtopia_Spa-Services.jpg');
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  background-attachment: fixed;
  border: 10px solid #fff;
}


.shape-teardrop {
    border-radius: 20rem;
    border-bottom-right-radius: 0;
}

.shape-window {
    border-top-left-radius: 25rem;
    border-top-right-radius: 25rem;
}

.inline a {
    display:inline-block;
    padding: 1rem;
  }
  .hide-3 {
    display: none;
  }

  /* Aspect Ratio  */
.portrait-tall { padding-bottom: 175%; }
.portrait { padding-bottom: 125%; }
.square { padding-bottom: 100%; }
.landscape { padding-bottom: 66%; }
.landscape-wide { padding-bottom: 56%; }

.fixed {    background-attachment: fixed;  }

/* Background Position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }

.width80 {  width: 80%;}
.width60 {  width: 60%;}
.width50 {  width: 50%;}
/*Polygon and svg */

section {  position: relative; }

svg.mask {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    z-index: 999;
    display: block;
    font-variant-numeric: lining-nums;
    background-size: cover;
    background-position: center;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.svg-white {
    stroke: #ffffff;
    fill: #ffffff;
  }

  .svg-orange {
    stroke: #ed974c;
    fill: #ed974c;
  }
.top {
    top: -9px;
    bottom: auto;
    left: 0;
}

polygon { stroke-width: 2px; }


/*   PINK BOXES   */

.orange-box1 {
    margin:40% 0 0 -5%;
    position:absolute;
    width:325px;
    height:450px;
    background-color:#ffe9f4;
    border:1px solid #ffe9f4;
    z-index:-1
   }
.orange-box2 {
    margin: 24% 0 0 -6%;
    position:absolute;
    width:350px;
    height:400px;
    background-color:#ffe9f4;
    border:1px solid #ffe9f4;
    z-index:-1
   }

.orange-box3 {
    margin:33% 0 0 4%;
    position:absolute;
    width:350px;
    height:400px;
    background-color:#ffe9f4;
    border:1px solid #ffe9f4;
    z-index:-1
}

.orange-box4 {
  margin:-7% 0 0 35%;
  position:absolute;
  width:350px;
  height:400px;
  background-color:#ffe9f4;
  border:1px solid #ffe9f4;
  z-index:-1
}

/*  Mobile Menu Styles  */

.mobile-menu {
    display: none; 
    background-color: #ffe9f4;
    padding: 5%;
    position: fixed; 
    top:0;
    bottom: 0;
    left:0;
    right:0;
    text-align: left;
    z-index: 3;
  }
  
  .mobile-menu a {
    text-decoration: none; 
    color: inherit; 
    padding: 5vh 5%;
    display: block;
    font-family: inherit;
    font-weight: normal;
    font-size: 1.5rem;
   }
   
   .hamburger-button {
      cursor: pointer;
      padding: 1.5rem;
      display: inline-block;
      font-family: inherit;
      font-weight: 200;
      font-size: 1.2rem;
      line-height: 0.8;
      position: fixed;
      right: 1rem;
      top: 0rem;
      z-index: 4;
   }
   
   .hamburger-button i {
      font-size: 2.2rem;
      margin-bottom: 0;
   }
  
  .hamburger-button.active {
      color: #9d614c;
    }


    .small-footer {
        font-size: .6rem;
        font-weight: 200;
        letter-spacing: .05rem;
    }

/* text slider*/

.author {
    font-size: 0.9rem;
    color: rgb(90,90,90);
    margin-top: 0.5rem;
    font-style: italic;
    text-align: right;
  }
  
  
  .quote-icon {
    font-size: 4rem;
    color: rgb(200,200,200);
  }
  
  
  /* Slider */
  .testimonial-slider-container {
    padding: 5%;
    max-width: 1390px;
    margin: auto;
  }
  
  .slider-item {
    padding: 1rem;
    display: none;
  }
  
  .slider-item:first-child {
    display: block;
  }
  
  .slick-next {
    right: 10px;
  }
  
  .slick-prev {
    left: 10px;
  }
  
  .slick-next::before, .slick-prev::before {
      font-family: inherit;
      font-size: 20px;
      line-height: 1;
      opacity: .75;
      color: rgb(90,90,90);
  }
  
  .slick-dots {
    left: 0;
    bottom: 10px;
    /*  Without this the padding on the parent affects the centering of the dots. Do not delete.    */
  }
  
  .slick-dots li,
  .slick-dots li button {
    width: 10px;
  }
  
  .slick-dots li button::before {
    color: rgb(90,90,90);
  }
  
  .slick-dots li.slick-active button::before {
    color: rgb(90,90,90);
  }
  
  
  /* Slider Text Styles  */
  
  .slider-item p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
  }
  
  

/*  SCROLL gallery */

.mob-horisont-scroll {
    overflow-x: auto;
    white-space: nowrap;
}
.mob-horisont-scroll img { 
    max-width: 40rem;
    vertical-align: middle;
    display: inline-block;
    max-height: 400px;
    border: 8px solid #FFF;
    border-radius: 1rem;
    align-items: flex-end;
} 




/* Default Responsive Styles (Dekstop and below) */
.mob-show {
    display: none; 
  }


/*@media (max-width: 36em)	Max 576px	_xs-*
@media (max-width: 48em)	Max 768px	_sm-*
@media (max-width: 64em)	Max 1024px	_md-*
@media (max-width: 80em)	Max 1280px	_lg-*  */


/*  Gridlex small media query - Max 768 px _sm*/

@media(max-width: 64em)	{
    .mob-hide { display: none; }
    .mob-show { display: block; }  
    .hide-md  { display: none; } 
    .hide-3   { display: flex;  }
    .flex-flip-sm { flex-direction: column-reverse; }
    .right  { text-align: left; }
    .sm-tall-60 { min-height: 60vh; }
    h2 { font-size: 1.9rem;}
    h3 { font-size: 1.5rem;}
    p, li  {  font-size: 1rem;}
    footer img {   max-width: 25%;  }
    .bg-banner2 {
      background-image: url('/images/grooming-banner.jpg');
      background-position: 40% 50%;
      margin-top: -7rem;
      background-attachment: initial;
    }
}
    
@media(max-width: 48em)	{
    .hide-sm  { display: none; }
    .text-xxl { font-size: 6rem;}
    .text-xl { font-size: 3.5rem;}
    .sm-block { display: block;}
    .text-center-sm { text-align: center;}
    .text-big  { font-size: 2rem;}
    h2 { font-size: 1.4rem;}
    h3 { font-size: 1.3rem;}
    p, li  {  font-size: 0.9rem;}

    .slider-item p  {  font-size: 0.9rem;}

    header img {   max-width: 30%;  }
    .icons img {
        max-width: 2rem;
        opacity: 0.6;
        margin-top: 0.3rem;
        margin-bottom: 0;
    }

    .fa-solid, .fas {
      font-size: 1.5rem;
    }

    .border-all {
      border: 10px solid #fff;
    }
    .padded-20 { padding: 5%;}
    .sm-padded-t { padding-top: 5%;}
    .banner    { min-height: 100vh;}
    

    .quote-icon {  font-size: 2.5rem;  }

    .mob-horisont-scroll {
        overflow-x: auto;
        white-space: nowrap;
      }
    .mob-horisont-scroll img { 
        max-width: 20rem;
        vertical-align: middle;
        display: inline-block;
        max-height: 400px;
        border: 8px solid #FFF;
        border-radius: 1rem;
      } 
      .emphasis { 
          font-size: 0.9rem;
          letter-spacing: 0.06rem;
          word-spacing: 0.1rem;
         }
    .email-signup input {
        width: 100%;
        max-width: 100%;
    }

    .orange-box1 {
        margin:46% 0 0 2%;
        position:absolute;
        width:225px;
        height:250px;
        z-index:-1
       }
    .orange-box2 {
        margin: 68% 0 0 -6%;
        position:absolute;
        width:250px;
        height:350px;
        z-index:-1
       }
    
    .orange-box3 {
        margin: 24% 0 0 -7%;
        position:absolute;
        width:250px;
        height:350px;
        z-index:-1
    }

    .bg-banner {
      background-image: url('/images/Dog-Background-Wallpapers.jpg');
      background-size: cover;
      background-position: top;
      min-height: 65vh;
      color: #000;
      background-attachment: initial;
      margin-top: 0;
    }

}

/*  Gridlex extra small media query - Max 576 px _xs*/
@media(max-width: 36em)	{
    .text-xxl { font-size: 4rem;}
    .text-xl { font-size: 2.5rem;}
    .text-lg { font-size: 2.5rem;}
}

/*  Gridlex XXS media query - Max 400 px _xxs*/
@media(max-width: 25em)	{
    .text-xxl { font-size: 2.5rem;}
}
